h1,h2,h3{
    font-family: 'Bitter', serif;
}
#main{
    margin-top: 90px;
    margin-left: 4%;
    margin-right: 4%;
}
#cabdesc{
    text-align: center;
}
.panel-body{
    padding-bottom:40px;
}
.img-circle{
    border: 2px solid #000000;
    box-shadow: 3px 3px 10px #888888;
}
.panel{
    border-radius: 5px;
}
hr{
    border-color: #BFBFBF;
}
#room img{
    margin-top: 60px !important;
}
#carousel{
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}
#carousel,.carousel-control,#photos img{
    -moz-border-radius: 10px;
    border-radius: 10px;
}
