h1,h2,h3{
    font-family: 'Bitter', serif;
}
#main{
    margin-top: 90px;
    margin-left: 4%;
    margin-right: 4%;
}
#cabdesc{
    text-align: center;
}
.panel-body{
    padding-bottom:40px;
}
.panel{
    border-radius: 5px;
}
hr{
    border-color: #BFBFBF;
}
td{
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
#room img{
    margin-top: 60px !important;
}
.img-circle{
    border: 3px solid #1e1e1e;
    box-shadow: 3px 3px 10px #888888;
}
#carousel{
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}
#carousel,.carousel-control,#photos img{
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.resourceContainer{
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
}
.resourceContainer div {
    width: 300px;
    height: 300px;
    margin-top: 25px;
    margin-bottom: 100px;
}
@media (min-width: 1200px) {
    .resourceContainer div {
        width: 350px;
        height: 300px;
        margin-bottom: 100px;
    }
}
@media (min-width: 1000px) {
    .resourceContainer div {
        width: 250px;
        height: 250px;
        margin-bottom: 100px;
    }
}
@media (max-width: 768px) {
    .resourceContainer div {
        width: 150px;
        height: 150px;
        margin-left: 25px;
        margin-right: 25px;
        margin-bottom: 100px;
    }
}
.resourceContainer img{
    width: 100%;
    height: 100%;
    border: 3px solid #1e1e1e;
    box-shadow: 3px 3px 10px #888888;
    border-radius: 20px;
}
@media (max-width: 1100px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
  .navbar-collapse.in {
    overflow-y: auto !important;
  }
  .navbar-collapse {
    max-height: 600px !important;
  }
  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}
